@import "_variables";

//GENERAL INFORMATION
.sec-select-room{
    width: 75%;
    top: 47%;

    .main-title h2{
        font-size: 3rem;
        color: $light-primary;

        &:before,
        &:after {
            width: 30%;  
        }
    }

    .hotel-details{
        display: block;
        width: 100%;
        margin: 0 auto;

        .row{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 100%;

            .col-md-6{
                align-items: center;
                justify-content: center;
                width: 33%;

                .field{

                    strong{
                        font-family: "Roboto Flex", sans-serif;
                        font-size: 1rem;
                        color: $light-secondary;
                        text-shadow: 2px 2px 4px rgba($neutro-primary, 0.5);
                    }

                    p{
                        font-family: "Roboto Flex", sans-serif;
                        font-size: 0.8rem;
                        color: $white;
                    }
                }
            }
        }
    }

    .form-container{
        margin-top: 0.5rem;
        .reservation-instructions{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            margin: 0 auto;
    
            .sel-title{
                width: 80%;
                background-color: rgba($light-secondary, 0.5);
                color:$white;
                text-align: center;
                font-size: 1.5rem;
                padding: 0.7rem;
                border-radius: 1rem;
            }
        
            .actions{
                width: 66.5%;
            }
        }
        
        p{
            text-align: center;
        }
    }
}


//ROOM CARD STYLES
.container-rooms{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;   

    .row{
        display: flex;          
        align-items: stretch; 
        justify-content: center;

        .col{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;  
            flex-grow: 1;                 
            min-height: 100%;    
            
            .title-col{
                text-align: center;
                font-family: "New Amsterdam", sans-serif;
                font-size: 4rem;
                color: $white;
                margin-bottom: 0.3rem
            }

            .card{   
                width: 100%;
                min-height: 6rem;
                margin: 0 auto;

                .card-body{
                    display: flex;
                    flex-direction: row;
                    height: 6rem;
                    width: 100%;
                    background:$light-primary;
                    border: $middle-secondary 2px solid;

                    &:hover{
                        background: $light-secondary;
                        border: $white 3px solid;
                    }

                    .row{
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;  
                        margin: 0 auto;

                         .col-md-6{
                            display: block;
                            text-align: left;
                            height: 100%;
                            width: 33%;

                            .card-title{
                                margin-top: 10%;
                                padding: 0;
                                font-family: "New Amsterdam", sans-serif;
                                font-size: 1.5rem;
                                color: $white;
                            }

                            .field{
                                display: flex;
                                flex-direction: row;
                                font-family: "Roboto Flex", sans-serif;
                                align-items: center;
                                justify-content: right;
                                margin: 0;

                                strong{
                                    padding: 0;
                                    color: $white;
                                    font-size: 0.75rem;
                                }

                                .card-text{
                                    margin-left: 0.5rem;
                                    padding: 0;
                                    color: $white;
                                    font-size: 0.75rem;
                                }
                            }

                            .form-check{
                                padding-top: 10%;
                                display: flex;
                                align-items: right;
                                justify-content: right;

                                input{
                                    &:checked {
                                        background-color: $light-secondary;
                                        border-color: $light-primary;
                                    }
                                }
                            }
                        }
                    }
                        
                    
                }
            }

        }
    }
}
