@import "_variables";

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 6%;
    width: 100%;
    text-align: center;
    padding: 1vh;
    line-height: 0;
}

p {
    color: $middle-primary;
    font-size: 1.5vh;
    font-weight: 600;
    padding-top: 0.8vh;
    padding-bottom: 1vh;
}
