<%= month_calendar do |date| %>
    <%= date %>
    <% current_user.reserve_rooms.each do |reserve_room| %>
        <% if reserve_room.date == date %>
            <div class="reserved-room">
                <%= reserve_room.room_id.hotel_name %>
                <%= reserve_room.payment_id %>
            </div>
        <% end %>
    <% end %>
<% end %>