<section class="sec-reserve">
<div class="main-title">
    <h2>New Reservation</h2>
</div>

    <div class="form-container">
        <div class="reservation-instructions">
            <%= render 'form', reserve_room: @reserve_room %>
        </div>
    </div>
</section>