<section class="sec-edit-rooms">
    <div class="main-title">
        <h2>Update Room <%= @room.code %></h2>
    </div>

    <div class="form-container">
        <% if flash[:alert] %>
            <div class="alert alert-danger">
                <%= flash[:alert] %>
            </div>
        <% end %>

        <%= render 'form_edit', room: @room %>
    </div>
</section>
