<section class="sec-list-rooms">
  <div class="main-title">
    <h2>My Hotels</h2>
  </div>
    <div class="form-container">
            <div class="pages">
                <%= paginate @rooms %>
            </div>
            <%= render  'rooms/table', locals: { rooms: @rooms } %>
        </div>
    <div class="row">
      <div class="col-md-6">
        <div class="actions">
          <%= link_to 'Create Hotel', new_hotel_path, class: 'btn' %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="actions">
          <%= link_to 'Create Room', new_room_path, class: 'btn' %>
        </div>
      </div>
    </div>
</section>
