<section class="sec-create-rooms">
  <div class="main-title">
    <h2>Create Rooms</h2>
  </div>

  <div class="form-container">
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= render 'form', room: @room %>
  </div>
</section>