/*COLOR PALLETTE VARIABLES*/
$neutro-primary: #1A1014;
$neutro-secondary: #490D0B;
$middle-primary: #BF112C;
$middle-secondary: #7B141F;
$light-primary: #316A61;
$light-secondary: #294745;

$white: #FFFFFF;
$black: #000000;

/*GRADIENTS*/
$custom-three-color-gradient: linear-gradient(to bottom, $neutro-secondary,$neutro-primary, $neutro-primary);
$border-fade-gradient: linear-gradient(to right, $neutro-secondary, $light-primary, $neutro-secondary);
$side-fade-gradient: linear-gradient(to right, $light-secondary, $light-primary, $white);
$icon-bg-gradient: linear-gradient(to top, $middle-primary, $middle-secondary);
$bottom-border-fade: linear-gradient(to right, $middle-primary,  $light-secondary,  $light-primary, $light-primary);
$table-header-gradient: linear-gradient(to bottom, $light-primary, $light-secondary);
