/*COLOR PALLETTE VARIABLES*/
$neutro-primary: #1A1014;
$neutro-secondary: #490D0B;
$middle-primary: #BF112C;
$middle-secondary: #7B141F;
$light-primary: #316A61;
$light-secondary: #294745;

$white: #FFFFFF;
$black: #000000;

/*GRADIENTS*/
$custom-three-color-gradient: linear-gradient(to bottom, $neutro-secondary,$neutro-primary, $neutro-primary);
$border-fade-gradient: linear-gradient(to right, $neutro-secondary, $light-primary, $neutro-secondary);


// <div class="row">
//   <div class="col-md-6">
//     <!-- First column content here -->
//   </div>
//   <div class="col-md-6">
//     <!-- Second column content here -->
//   </div>
// </div>