/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import "layouts/nav-bar";
 @import "layouts/footer";
 @import "devise/change-password";
 @import "devise/error-msg";
 @import "devise/forgot-password";
 @import "devise/log-in";
 @import "devise/sign-up";
 @import "_variables";

body {
font-family: 'Roboto Flex', sans-serif;
background: $custom-three-color-gradient;
background-repeat: no-repeat;
height: 100vh;
width: 100%;
color: $light-primary;
overflow: hidden;
}

input {
    background-color: rgba($light-primary, 0.3);
    border: none;
    border-radius: 3px;
    
    &:focus {
        outline: none;
        color: $white;
        background-color: $neutro-primary;
    }
}
