<section class="sec-create-hotel">
  <div class="main-title">
    <h2>Create Hotel</h2>
  </div>
  <div class="form-container">
        <% if can? :create, @hotel %>
            <%= render 'form', hotel: @hotel %>
        <% else %> 
            <h1>Unauthorized</h1>
            <p>You are not authorized to create a hotel</p>
            <%= link_to 'Back', hotels_path %>
        <% end %>
    </div>
</section>
