@import "_variables";

.sec-list-users{
    width: 90%;
}

.sec-list-users .main-title h2{
    margin-top: 0.7rem;
    font-size: 3rem;
    &:before,
    &:after {
        width: 44%;
    }
}

.sec-list-users .pages{
    display: flex;
    justify-content: center;
    align-items: center;
     nav{
            background: $icon-bg-gradient;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border-radius: 2rem;
            padding: 0.3rem;
            color: $white;
            text-decoration: none;  
            width: 100%;
            margin-top: 5rem;

                span{
                    &:hover{
                        color: $light-secondary;
                    }
                }

                .first{
                    a{
                        color: $white;
                        &:hover{
                            color: $light-primary;
                        }
                    }
                }
                .prev{
                    a{
                        color: $white;
                        &:hover{
                            color: $light-primary;
                        }
                    }
                }
                .next{
                    a{
                        color: $white;
                        &:hover{
                            color: $light-primary;
                        }
                    }
                }
                .last{
                    a{
                        color: $white;
                        &:hover{
                            color: $light-primary;
                        }
                    }
                }

                .current{
                    color: $white;

                    &:hover{
                        color: $white;
                    }
                }

                a{
                    color: $light-primary;
                    text-decoration: none;
        
                    &:hover{
                        color: $white;
                    }
                }
        }
}

.sec-list-users table{
    margin-top: 2.5rem;  

    td{
        text-align: center;
        background-color: $neutro-primary;
        color: $white;

        a {
            background: $light-primary;
            padding: 0.4rem;
            border-radius: 0.4rem;
            color: $white;
            text-decoration: none;
        }        
    }
}

.td-update{
    padding-right: 0;
    .update{

        &:hover{
            color: $neutro-primary;
            background:green;
        }
    }
}

.td-destroy{
    padding-left: 0;
    .destroy{
    
        &:hover{
            color: $neutro-primary;
            background:red;
        }
    }
}
