@import "_variables";

.sec-forgot-password {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 50%;
}

.sec-forgot-password .main-title h2{
    font-size: 5rem;
    &:before,
    &:after {
        width: 10%;
    }
}

.field{
    width: 100%;  
}

.sec-forgot-password #user_email{
    margin-bottom: 1rem;
    width: 100%;  
}
