@import "_variables";

.sec-forgot-password {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 50%;
}

.sec-forgot-password .main-title h2{
    text-align: center;
    font-family: "New Amsterdam", sans-serif;
    font-size: 5rem;
    color: $white;
    margin-bottom: 1.3rem;
    position: relative;

    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 12%;
        background-color: rgba($light-primary, 0.3);
        margin: 0 20px;
        
    }

    &:before {
        left: -20px; 
        height: 100%;
        border-radius: 10px 0px 0px 10px;
    }

    &:after {
        right: -20px; 
        height: 100%;
        border-radius: 0px 10px 10px 0px;
    }
}

.sec-forgot-password form {
    width: 100%;
    padding: 3rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:after {
        right: -10px;
    }
}

.field{
    width: 100%;
}
