@import "_variables";

.sec-login .form-container form {
    padding: 3rem;
}

.sec-login form input {
    width: 100%;
}

.sec-login .inline-field{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 1.5rem;
    margin-top: 0;
}

.sec-login #user_email{
    margin-bottom: 2rem;
}

.sec-login #user_password{
    margin-bottom: 0.5rem;
}

.sec-login .check-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;

    input[type="checkbox"] {
        margin-left: 80%;
    }
}

.sec-login .remember-me{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    label{
        color: $light-primary;
    }
}
