@import "_variables";

.sec-sign-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 50%;
    margin-top: 1rem;
}

.sec-sign-up .main-title h2{
    text-align: center;
    font-family: "New Amsterdam", sans-serif;
    font-size: 7rem;
    color: $white;
    margin-bottom: 1.3rem;
    position: relative;

    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 30%;
        background-color: rgba($light-primary, 0.3);
        margin: 0 20px;
        
    }

    &:before {
        left: -20px; 
        height: 100%;
        border-radius: 10px 0px 0px 10px;
    }

    &:after {
        right: -20px; 
        height: 100%;
        border-radius: 0px 10px 10px 0px;
    }
}

.form-container form{
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
    &.before {
        left: -10px;
    }	
    &:after {
        right: -10px;
    }
}

.row{
    width: 100%;
    .col-md-6{
        width: 50%;
        .field {
            width: 100%;
            margin-bottom: 1rem;
        }
    }
}

.email-field{
    width: 97%;
    margin-top: 0.5;
}

.form-container form #user_email{
    width: 100%;
}

