    <nav>
        <div class="column">
            <ul>
                <li><a class="link-nav" href="/">Home</a></li>
                <li><a class="link-nav" href="/about">About</a></li>
                <li><a class="link-nav" href="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="column log-btns">
            <% if user_signed_in? %>
                <a href="/users/edit">Edit Profile</a>
                <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
            <% else %>
                    <div class= "btn-container">
                        <button class="btn" href="/users/sign_in">Login</button>
                        <button class="btn" href="/users/sign_up">Sign Up</button>
                    </div>    
            <% end %>
        </div>
    </nav>